#ClockContainer {
    position: relative;
    margin:auto;
    height:40vW;
    width:40vw;
    background: url(Clock.png);
    background-size:100%;
}

#Hour,#Minute,#Second {
    position:absolute;
     background: black;
    border-radius:10px;
}
#Hour {
    width: 2%;
    height: 19%;
    top: 30.75%;
    left: 50%;
    opacity: 0.8;
    transform-origin: bottom;
}
#Minute {
    width: 1.3%;
    height: 25%;
    top: 24.80%;
    left: 49.358%;
    opacity: 0.8;
    transform-origin: bottom;
}
#Second {
    width: 0.8%;    
    height: 31.6%;
    top: 18.5%;
    left: 49.63%;
    opacity: 0.8;
    transform-origin: bottom; 
}